* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
body {
  background-color: #1f1f1f !important;
}

/* navbar */
.navbar {
  background-color: #161616;
  height: 80px;
  position: fixed !important;
  width: 100%;
  z-index: 999;
}
.navbarInfoContainer {
  position: relative;
}
.navbarInfo {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 300;
  margin-right: 5px;
  color: white !important;
}
.navbarTitle {
  font-family: 'Abril Fatface', cursive;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%);
  font-size: 45px !important;
  color: white;
}
.navbarIcons {
  color: white;
  margin-left: 10px;
  font-size: 18px;
  cursor: pointer;
}
.navbarSearch {
  border: 1px solid white;
  padding: 5px;
  border-radius: 10px;
}
.navbarSearch i {
 cursor: pointer;
}
.searchInput {
  border: none;
  outline: none;
  background-color: #161616;
  color: white;
  height: 100%;
  width: 100px;
  font-size: 14px;
}
/* navbar ends */

/* home */
.jumbotronContainer {
  background: url(./assets/images/img1.jpg) no-repeat;
  background-size: cover;
  background-position: top;
}
.jumbotron {
  height: 637px;
  margin-bottom: 0 !important;
  background-color: transparent !important;
  background-image: radial-gradient(rgba(0,0,0,0.5), rgba(0,0,0,1)) !important;
  position: relative;
  color: white !important;
}
.jumbotron h6 {
  margin-top: 140px;
  font-weight: 300;
}
.jumbotron h1 {
  font-weight: 900;
  font-size: 120px;
}
.jumbotron p {
  font-weight: 300;
  width: 500px;
}
/* home ends */

/* about */
.about h1 {
  margin-top: 100px;
  color: white;
  font-weight: 900;
  font-size: 60px;
}
.card-header {
  background-color: #dadcdb;
  border-bottom: none;
}
.card .nav-item a {
  color: white;
}
.card .nav-item a:hover {
  border-bottom: none;
}
.card .nav-item {
  cursor: pointer;
}
.col-md-9 .card {
  position: relative;
}
.col-md-9 .card .card-body {
  position: absolute;
  top: 55px;
  bottom: 0;
  left: 0;
  right: 0;
}
.card .general h5 {
  font-weight: 700;
  font-size: 16px;
  margin: 20px 0 0;
}
.card .general p {
  font-size: 18px;
}
.card .educations h4 {
  font-weight: 600;
  margin: 35px 0 5px;
}
.card .educations span {
  font-size: 12px;
}
.card .experiences h4 {
  font-weight: 600;
  margin: 70px 0 5px;
}
.card .experiences span {
  font-size: 12px;
  margin-bottom: 10px;
  display: block;
}
.card .experiences p {
  width: 500px;
  margin: 0 auto;
}
.card .skills h4 {
  font-weight: 600;
  margin: 50px 0 20px;
}
.card .skills p {
  margin: 5px 0;
  font-size: 18px;
}
.card .organizations h4 {
  font-weight: 600;
  margin: 50px 0 5px;
}
.card .certifications h4 {
  font-weight: 600;
  font-size: 18px;
  margin: 20px 0 5px;
}
.card .certifications p {
  font-size: 14px;
}
.card .card-header .nav-link {
  margin-left: 20px;
}
/* portfolio */
.accordion .card .card-header {
  background-color: #dadcdb;
}
.accordion .card .card-header button {
  color: black;
}
.accordion .card .card-header button:hover {
  text-decoration: none;
  font-weight: 600;
}
.accordion .card .card-header button:focus {
  text-decoration: none;
  font-weight: 600;
  border: none;
  outline: none;
}
.accordion .card .card-header h2:focus {
  border: none;
  outline: none;
}
.accordion .card .card-header button i {
  float: right;
  font-size: 22px;
  color: #474747;
}
.accordion .card .card-body h4 {
  font-weight: 700;
}

.accordion .card .card-body .row .col {
  height: 250px;
  margin: 10px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  background-color: #dadcdb;
}
.accordion .card .card-body .row .col .ver {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(2);
  height: 250px;
}
.accordion .card .card-body .row .col .hor {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(2);
  width: 260px;
}
.accordion .card .card-body .row .col img {
  filter: grayscale(1) blur(5px);
  transition: 0.5s;
}
.accordion .card .card-body .row .col p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-family: Viga, sans-serif;
  font-size: 20px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}
.accordion .card .card-body .row .col:hover img {
  filter: grayscale(0) blur(0);
  transform: translate(-50%, -50%) scale(1);
}
.accordion .card .card-body .row .col:hover p {
  font-size: 0;
  transition: 0.5s;
}
/* about ends */

/* contact */
.contact h1 {
  margin-top: 100px;
  color: white;
  font-weight: 900;
  font-size: 60px;
}
.row .col-md-5 .list-group .active {
  background-color: #dadcdb;
  color: black;
  border: 1px solid #dadcdb;
}
.row .col-md-5 .card {
  margin-bottom: 43px;
}
.row .col-md-7 .form-group label {
  color: white;
}
.row .col-md-7 .form-group textarea {
  height: 110px;
}
.row .follow {
  margin: 50px 0 10px;
  text-align: center;
  color: white;
}
.row .follow-icon {
  text-align: center;
}
.row .follow-icon i {
  font-size: 30px;
  color: #646464;
  cursor: pointer;
  transition: 0.25s;
  margin-bottom: 30px;
}
.row .follow-icon a {
  margin: 0 30px;
}
.row .follow-icon i:hover {
  transform: scale(1.2);
}
.row .follow-icon .fa-facebook-f:hover {
  color: #1877F2;
}
.row .follow-icon .fa-twitter:hover {
  color: #1CA1F2;
}
.row .follow-icon .fa-linkedin-in:hover {
  color: #0073B1;
}
.row .follow-icon .fa-instagram:hover {
  background: -webkit-linear-gradient(45deg, #F8DB7D, #E83C3D, #6761CD);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* contact ends */

/* stories */
.stories h1 {
  margin-top: 100px;
  color: white;
  font-weight: 900;
  font-size: 60px;
}
.stories p {
  color: white;
}
/* stories ends */