.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* my CSS */
body {
  background-color: #F5F5F5;
}
.container {
  background-color: white;
  width: 350px;
  padding: 30px 50px;
  margin: 30px auto;
  box-shadow: 0 0 3px rgba(0,0,0,0.3);
}
.content {
  text-align: left;
  border-bottom: 1px solid rgb(145, 145, 145);
  display: flex;
}
.checkContainer {
  display: flex;
}
input {
  height: 18px;
  width: 18px;
  margin: auto;
}
.nameContainer {
  width: 100%;
}
p {
  color: rgb(114, 114, 114);
  font-size: 22px;
  padding: 10px 0 10px 20px;
}
.doneContainer {
  display: flex;
  width: 60px;
}
.done {
  margin: auto;
}