/* navbar */


/* jumbotron */
.jumbotron {
    background: url(img/jumbotron.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    padding-left: 0 !important;
    height: 550px;
}
.jumbotron .col-md-6 {
    background-color: rgba(0, 0, 0, 0.6);
}
.jumbotron .col-md-6 h1, .jumbotron .col-md-6 p {
    margin-left: 50px;
}

/* thumb */
.row .col-md-6 .row .thumb1 {
    background: url(img/thumb1.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    width: 200px;
}
.row .col-md-6 .row .thumb2 {
    background: url(img/thumb2.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    width: 200px;
}
.thumbnail1:hover {
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.4) !important;
}

/* aside */
aside .p-4 {
    background-color: rgba(0, 0, 0, 0.8);
}
aside div p, aside div h4 {
    color: white;
}
aside .archives {
    border-radius: 5px 5px 0 0;
}
aside .elsewhere {
    border-radius: 0 0 5px 5px;
}
aside div ol li a {
    color: rgba(255,255,255,0.4);
}
aside div ol li a:hover {
    color: rgba(255,255,255,1);
    text-decoration: none;
}

/* footer */
.btn-outline-primary {
    border: 1px solid black;
    color: black;
}
.btn-outline-primary:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* media desktop (>1200px) */
@media (min-width: 1200px) {
    .blog-header-logo, .blog-header .row .col-4 .text-muted, .blog-header .row .col-4 .btn-outline-secondary, .nav-scroller .nav a {
        color: white !important;
    }
    .blog-header .row .col-4 .blog-header-logo:hover {
        color: rgba(255, 255, 255, 0.6) !important;
    }
    .blog-header .row .col-4 .text-muted {
        margin-left: 10px;
    }
    .blog-header .row .col-4 .btn {
        margin-right: 10px;
    }
    .btn-outline-secondary {
        border: 1px solid white;
    }
    .btn-outline-secondary:hover {
        background-color: rgba(255, 255, 255, 0.6);
        border: 1px solid white;
    }
    .blog-header {
        background-color: rgba(0, 0, 0, 0.6);
        border-bottom: 2px solid white;
        position: relative;
        z-index: 999999;
    }
    .nav-scroller {
        background-color: rgba(0, 0, 0, 0.6);
        border-bottom: 2px solid white;
        position: relative;
        z-index: 999999;
    }
    .jumbotron {
        margin-top: -125px;
    }
    .jumbotron .col-md-6 {
        margin-top: 130px;
    }
}